{% load static %}
<form method="GET" action="{% url 'SearchPage' %}" class="header-search relative">

    <input type="search" name="q" id="searchInput" placeholder="Search for Movies, Events..." value="{{ request.GET.q }}" autocomplete="off">

    <div id="suggestionsBox"
        class="absolute left-0 top-full w-full bg-white border mt-1 rounded shadow hidden z-50">
    </div>
</form>

<Script>
    const input = document.getElementById("searchInput");
    const box = document.getElementById("suggestionsBox");

    let debounceTimer;

    input.addEventListener("input", function () {
        clearTimeout(debounceTimer);

        const query = this.value.trim();

        if (query.length < 2) {
            box.classList.add("hidden");
            return;
        }

        debounceTimer = setTimeout(() => {
            fetch(`/search/suggestions?q=${query}`)
                .then(res => res.json())
                .then(data => {
                    box.innerHTML = "";

                    if (!data.results.length) {
                        box.innerHTML = `<div class="p-2 text-gray-500">No results</div>`;
                    }

                    data.results.forEach(item => {
                        const div = document.createElement("div");
                        div.className = "p-3 hover:bg-gray-100 cursor-pointer border-b";

                        div.innerHTML = `
                            <div class="font-medium">${item.title}</div>
                            <div class="text-xs text-gray-500">${item.type}</div>
                        `;

                        div.onclick = () => {
                            window.location.href = item.url;
                        };

                        box.appendChild(div);
                    });

                    box.classList.remove("hidden");
                });
        }, 300);
    });
</script>